body{
	background-color: #FFE4E1;

}
#calendar{
	max-width: 300px;
	max-height: 300px;
	background-color: #EEE8AA;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#calendarEvents{
	background-color: #7FFFD4;

}

.calendarTable{
	width : 300px;
	height : 300px;
}
.navigationRow{
	height:2em;
}
.calendarHeaderDay{
	height: 2em;
}
.hasEvent{
	background-color: blue;
	z-index: 1;
}
.selected{
	background-color: pink;
	z-index: 1;
}
.today{
	border: 1px solid red;
}
table,th,td{
	border-collapse: collapse;
	padding:0;
	margin:0;
	border-spacing: 0;
	border:1px inset black;
	text-align: center;
}
td{
	width: 14%;
	height:2em;
}
@media screen and (min-width: 500px) {
	#calendar{
		float:left;
	}
}